Source: ros-melodic-jsk-tf2-py-python3
Section: misc
Priority: optional
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), python3-catkin-pkg-modules, ros-melodic-catkin, ros-melodic-rospy, ros-melodic-tf2
Homepage: https://github.com/jsk-ros-pkg/geometry2_python3
Standards-Version: 3.9.2

Package: ros-melodic-jsk-tf2-py-python3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-rospkg-modules, ros-melodic-rospy, ros-melodic-tf2
Description: The tf2_py package for python3 compatibility in melodic environment.
 Supported by ROS community.
